Codigo app/TFM/*.iml
Codigo app/TFM/.gradle
Codigo app/TFM/local.properties
Codigo app/TFM/.idea/caches
Codigo app/TFM/.idea/libraries
Codigo app/TFM/.idea/modules.xml
Codigo app/TFM/.idea/workspace.xml
Codigo app/TFM/.idea/navEditor.xml
Codigo app/TFM/.idea/assetWizardSettings.xml
Codigo app/TFM/.DS_Store
Codigo app/TFM/build
Codigo app/TFM/captures
Codigo app/TFM/.externalNativeBuild
Codigo app/TFM/.cxx
